/vendor/

/admin/node_modules
/admin/.pnp
/admin/.pnp.js

/admin/coverage

/admin/build

/admin/.DS_Store
/admin/.env
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*
