.tabela {
    margin: 64px 0px 64px 0px;

    &-wrapper {
        padding: 24px;
    }

    table.table {
        .table-actions {
            display: flex;
            gap: 8px;
    
            .btn {
                padding: 0;
            }
        }
    }

    .tabela-pagination {
        a:hover {
            cursor: pointer;
        }
    }
}